*{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}

#datos{
    border: solid 1px black;
    border-radius: 5px;
    padding: 6px;
    background-color: antiquewhite;
}

#form, #mensaje{
    padding: 10px 0px;
}

.input-text{
    min-width: 200px;
}

.mt-10{
    margin-top: 10px;
}

table, th, td {
   border: 1px solid black;
}

table{
    border-collapse: collapse;
}

td, th{
    min-width: 100px;
    padding: 4px;
}

.capitalize{
    text-transform: capitalize;
}

.delete-border{
    border-width: 0px;
}

.p-5{
    padding: 5px;
}